*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  height: 100vh;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.7rem;
  }
}

.grid {
  margin-top: 10rem;
  display: grid;
  gap: 3rem 1rem;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid .div_item2 {
    justify-self: start;
    width: 90%;
    grid-column: span 2;
  }

  .grid .div_item1 {
    width: 90%;
  }
}

.div {
  background: hsl(228, 56%, 26%);
  padding: 4rem 2.5rem;
  width: 80%;
}

.div_item1 {
  border-top-right-radius: 90px;
  display: grid;
  gap: 4rem;
}

.icons {
  white-space: nowrap;
}

.icons img {
  width: 30px;
  height: 30px;
}

.icon {
  background: hsl(229, 57%, 11%);
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .icons img {
    width: 20px;
    height: 20px;
  }

  .icon {
    width: 44px;
    height: 44px;
  }
}

.div_item2 {
  border-radius: 20px;
  display: grid;
  position: relative;
}

.div_item2 p {
  color: #fff;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.input_group {
  background: hsl(229, 57%, 11%);
  height: 2.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.input {
  background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: 80%;
  border-radius: 20px;
  height: 2rem;
  display: grid;
  justify-items: flex-end;
}

.input_span {
  background: #fff;
  border-radius: 100%;
  height: 1.8rem;
  width: 2rem;
}

.gb {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
}

.gb_right {
  justify-self: right;
}

@media screen and (min-width: 768px) {
  .div_item2 p {
    margin-bottom: 1rem;
  }

  .div_item2 .input_group {
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .div_item2 .input {
    height: 1rem;
  }

  .div_item2 .input_span {
    height: 1rem;
  }
}

.data {
  background: #fff;
  border-radius: 20px;
  width: 150px;
  white-space: nowrap;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-self: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.data_hidden {
  background: #fff;
  width: 150px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 100% 100%, 86% 75%, 47% 75%, 0 75%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  white-space: nowrap;
  padding: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-self: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  margin-right: 3rem;
}

@media screen and (min-width: 768px) {
  .data_hidden {
    opacity: 1;
  }

  .data {
    opacity: 0;
  }

  .data_hidden .number {
    font-size: 2rem;
    transform: translateY(-50%);
  }

  .data_hidden .gb_remain {
    font-size: 1.3rem;
    transform: translateY(-50%);
  }
}

.number {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
}

.eight {
  transform: translateY(-10%);
}

.five {
  transform: translateY(10%);
}

.gb_remain {
  align-self: center;
  font-size: 1.4rem;
}
